body{
    margin: 0;
    padding: 0;
    
}

.containerfull{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #36384D;
}

#formimg {
    width: 45%;
}



.containerform{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: #ffff;
    width: 55vw;
    height: 80vh;
    
}

.texto{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

#h1 {
    font-weight: bold;
    font-style: italic;
    color: #36384D;
    margin-bottom: 25px;
}

#button {
    margin-top: 5%;
    height: 15%;
    width: 100%;
    background-color: #36384D;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin: 40px;
}

.form-group {
    width: 80%;

}

.container-left{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ---------------------------------------------------- */

.containersucess {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: #ffff;
    height: 70%;
    width: 35%;
}